<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <%= render 'shared/header' %>
    <%= render 'shared/message' %>
  <div class="main-container">
    <%= yield %>		
    <%= render 'shared/footer' %>

  </div><!-- /.main-container -->

</body>
</html>
